<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>
    <style>
        form {
            background-color: lavender;
            padding: 30px 10px;
            border: 1px solid;
            border-radius: 3px;
            width: max-content;
        }
        form input {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <form action="signIn" method="post">
        <input type="text" name="email" placeholder="Enter your email">
        <input name="password" placeholder="Enter your password">
        <button>Sign In</button>
    </form>
</body>
</html>