<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
        }
        .user_item {
            background-color: lavenderblush;
            padding: 20px 10px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        {{#each users}}
            <div class="user_item">
                <p>Name - {{this.name}} {{this.surname}}</p>
                <p>Age - {{this.age}}</p>
                <p>City - {{this.city}}</p>
            </div>
        {{/each}}
    </div>
</body>
</html>